@model Grupp9.Models.ListaKommenterare

<div style="margin-left: -12px;">
    @if (Model.listan != null)
    {
        <div style="font-size:large">
            Kommentarer
        </div>

        foreach (var item in Model.listan)
        {

            <div style="font-weight: bold">
                @{ var fulltNamn = Html.Action("NamnFrånUserId", "FormellaInlägg", new { userId = item.userID });
                    @fulltNamn
                }
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.kommentarText)
            </div>
            <div>
                @{var harSkrivit = Html.Action("VemSomSkrivit", "FormellaInlägg", new { userID = item.userID }).ToString();
                    if (harSkrivit == "True")
                    {
                        @Html.ActionLink("Radera", "Delete", new { IDet = item.kommentarID });
                    }

                }
            </div>
        }
    }

</div>






