@model Grupp9.Models.ListaKommenterare 

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.listan != null) {
<table class="table">
    <tr>
        <th>
            Kommentar
        </th>
        <th>
            Namn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listan)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kommentarText)
            </td>
            <td>
                @{ var fulltNamn = Html.Action("NamnFrånUserId", "FormellaInlägg", new { userId = item.userID });
                    <h3>@fulltNamn</h3>
                    }
            </td>
            <td>
            
                @{var harSkrivit = Html.Action("VemSomSkrivit", "FormellaInlägg", new { userID = item.userID }).ToString();
                    if (harSkrivit == "True")
                    {
                        @Html.ActionLink("Radera", "Delete", new { IDet = item.kommentarID });
                    }
                  
                }
            </td>
        </tr>

    }
</table>
}





