@model Grupp9.Models.VisaKategorierViewModel

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


@foreach (var item in Model.kategoriLista)
{

<table>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriId)
        </td>
        <td>
            @Html.DropDownListFor(modelItem => item.KategoriNamn,
                      new SelectList(item.KategoriNamn), "Välj")

        </td>

    </tr>
</table>
}
    

