@model Grupp9.Models.DatumViewModel

@{
    /**/

    /**/

    ViewBag.Title = "Datum";
}
<h2>Skapa ett möte</h2>

@using (Html.BeginForm())
{
    <h4>Möten</h4>
    <hr />
    <br />
    <div class="form-group">
        <div>Välj datum</div>
        @Html.EditorFor(model => model.FörslagDatum, new { htmlAttributes = new { @class = "datepicker" } })
    </div>

    <div>
        @{Html.RenderAction("Datum", "Mötes");
        }
    </div>
}



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}















